.nav-theme {
  background-color: #212121;
  font-size: 20px;
}

.animate-navbar {
  box-shadow: 1px 1px 1px hsla(240, 20%, 8%, 0.973);
  animation: moveDown 0.5s ease-in-out;
}

.logo {
  color: #64dd17;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
